* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.conteiner {
  display: inline-block;
  margin-bottom: 133px;
  font-size: 0;
}

.conteiner:nth-child(n+5) {
  margin-bottom: 0px;
}


.conteiner:not(:nth-child(even)) {
  margin-right: 58px;
}

.link-color {
  text-decoration: none;
  font-size: 14px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  width: 71px;
}

.link-color:hover {
  color: #46b1e4;
  transition: 1s linear;
}

.link {
  margin: 0 auto;
  display: inline-block;
}

.link:nth-child(-n+3) {
  margin-right: 110px;
}



.links {
  margin: 0 auto;
  text-align: center;
}

.main-header {
  height: 190px;
  padding-top: 70px;
}

.content-main {
  margin: 0px 150px;
  width: 900px;
  margin: auto;
  padding-bottom: 70px;
}

.subtitle {
  padding-top: 30px;
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;

}

.title-text {
  margin-top: 30px;
  font-size: 25px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
}

.text-content {
  margin-top: 40px;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 1.714;
  width: 414px;
}

.button {
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 55px;
}

.button-input {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 1.2;
  border-width: 1px;
  border-style: solid;
  width: 162px;
  border-color: #626262;
  background-color: white;
  height: 58px;

}